* {
  margin: 0;
  padding: 0;
}

.css-bayan {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

h2 {
  font-size: 2rem;
  padding: 1rem 0;
}

.css-bayan {
  width: 50%;
  margin: 0 auto;
}

label {
  cursor: pointer;
}

.mem {
  padding: 1rem 0;
  color: #196CF9FF;
  border-top: solid 3px lightgrey;
}

.title {
  display: flex;
  justify-content: space-between;
}

input[name="mems"] {
  display: none;
}

.icon {
  display: none;
}

.material-icons {
  display: none;
  vertical-align: middle;
  font-weight: bold;
}

img {
  display: block;
  margin: 0 auto;
  width: 0;
  -webkit-transition: width 100ms;
  transition: width 20ms ease-out;
}

.css-bayan:hover .icon {
  display: block;
}

.mem:hover .title,
input[name="mems"]:checked ~ .title {
  color: black;
}

.mem:active .title {
  color: #196CF9FF;
}

.mem:active {
  opacity: 0.8;
}

input[name="mems"]:checked ~ .title .material-icons {
  display: block;
}

input[name="mems"]:checked ~ .title .open {
  display: none;
}

.mem:hover img {
  padding: 1rem 0;
  width: 25rem;
  -webkit-transition: width 0.3s;
  transition: width 0.3s ease-out;
}

input[value="interface"]:checked ~ .interface-img {
  padding: 1rem 0;
  width: 25rem;
}

input[value="environment"]:checked ~ .environment-img {
  padding: 1rem 0;
  width: 25rem;
}

input[value="beginner"]:checked ~ .beginner-img {
  padding: 1rem 0;
  width: 25rem;
}

input[value="back"]:checked ~ .back-img {
  padding: 1rem 0;
  width: 25rem;
}






.css-bayan:hover label {
  color: black;
}

.mem:hover .icon {
  display: block;
}